body{
	background-image:url(https://googledrive.com/host/0B6q3hoYduwBjdm5nTWdleWI0ZUE);
	background-repeat: no-repeat;
}
#welcome{
	margin-left: auto;
	margin-top: auto;
	color:#FFFFFF;
	font-family: 'Nothing You Could Do', cursive;
	font-size: 50px;
	text-shadow: -2px -3px #aa3030;
	text-align: center;
}
#decoratebighead{
	width: 900px;
	height: 400px;
	border-radius:0.5em;
  	box-shadow: rgb(189, 189, 189) 0px 1px 5px 0px;
	border: 1px solid 000000;
	text-align: center;
	background-color:rgba(0, 0, 0, 0.8);
	margin-top: 30px;
	margin-left: auto;
}
#bighead{
	max-width: 300px;
	max-height: 400px;
	overflow: hidden;
  	padding: 0.8em;
}
#name{
	text-align: center;
	color:#FFFFFF;
	font-family: 'Ceviche One', cursive;
	font-size: 60px;
}
#briefintroduction{
	color:#FFFFFF;
	font-family: 'Nothing You Could Do', cursive;
	font-size: 23px;

}
#hint{
	color:#FFFFFF;
	font-family: 'Nothing You Could Do', cursive;
	font-size: 23px;
}
